@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body,
html,
#root {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #fbfbfb;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 100px);
  height: 100vh;
  background: yellow;
}

.sub-container {
  display: flex;
  height: 90vh;
  min-width: calc(100vw - 100px);
  background: green;
}


